#intro img {
  background: none;
  border: none;
  box-shadow: none; }

#why img.so-question {
  background: none;
  border: none;
  box-shadow: none;
  max-width: 80%; }

#why table tr td {
  border: none;
  border-bottom: none; }
